@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
* {
  @apply transition-colors duration-800 ease-in-out;
}

/* Chrome, Safari, Edge */
/* Light theme */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: red; /* bg-blue-500 */
  border-radius: 9999px; /* rounded-lg */
  border: 2px solid rgb(210, 204, 204); /* border-gray-200 */
}

::-webkit-scrollbar-track {
  background-color: black; /* bg-gray-200 */
}

/* Dark theme */
.dark ::-webkit-scrollbar-thumb {
  background-color: red; /* white/gray-100 */
  border: 2px solid black;
}

.dark ::-webkit-scrollbar-track {
  background-color: white; /* gray-800 */
}

/* Chrome, Safari, Edge */
.myDiv::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.myDiv {
  scrollbar-width: none; /* hide scrollbar */
}

/* IE, Edge (old) */
.myDiv {
  -ms-overflow-style: none; 
}

@layer components {
  .sector-pagination .swiper-pagination-bullet {
    @apply w-3 h-3 rounded-full !bg-gray-400 !opacity-100;
  }

  .dark .sector-pagination .swiper-pagination-bullet {
    @apply !bg-white;
  }

 .dark .sector-pagination .swiper-pagination-bullet-active {
    @apply !bg-red-600;
  }
  .sector-pagination .swiper-pagination-bullet-active {
    @apply !bg-red-600;
  }
}


